{
  "server_url": "http://api.csi.kur048.com",
  "collection_interval": 300,
  "collection_duration": 60,
  "base_duration": 180,
  "channel_width": "80MHz",
  "network_interface": "wlan0",
  "csi_port": 5500,
  "upload_timeout": 60,
  "health_check_interval": 3600,
  "delete_after_upload": false
}